@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inter';
        src: url('./assets/fonts/Inter.woff') format('woff2');

    }
    @font-face {
        font-family: 'Druk Wide';
        src: url('./assets/fonts/Druk.woff') format('woff2');

    }

}

body {
    @apply bg-white text-dark-text;
}